<p id="notice"><%= notice %></p>

<h1>Listing Lifts</h1>

<table>
  <thead>
    <tr>
      <th>Day0</th>
      <th>Day1</th>
      <th>Day2</th>
      <th>Day3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lifts.each do |lift| %>
      <tr>
        <td><%= lift.day0 %></td>
        <td><%= lift.day1 %></td>
        <td><%= lift.day2 %></td>
        <td><%= lift.day3 %></td>
        <td><%= link_to 'Show', lift %></td>
        <td><%= link_to 'Edit', edit_lift_path(lift) %></td>
        <td><%= link_to 'Destroy', lift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lift', new_lift_path %>
