<p id="notice"><%= notice %></p>

<p>
  <strong>Day0:</strong>
  <%= @lift.day0 %>
</p>

<p>
  <strong>Day1:</strong>
  <%= @lift.day1 %>
</p>

<p>
  <strong>Day2:</strong>
  <%= @lift.day2 %>
</p>

<p>
  <strong>Day3:</strong>
  <%= @lift.day3 %>
</p>

<%= link_to 'Edit', edit_lift_path(@lift) %> |
<%= link_to 'Back', lifts_path %>
